body{font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: green;}

h1{color: crimson; font-size: 16px;}

main{padding: 5px; max-width: 800px;}

.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 12px;
    list-style: none;
    padding: 0px;
    color: yellow;
}

.item-list li {
    padding: 10px;
    border: 2px solid darkblue;
    border-radius: 25px;
    color: yellow;
}

form{
    display: flex;
    gap: 10px;
    align-items: center;
}

.form input{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.form button{
    padding: 5px;
    background-color: orangered;
    color: blueviolet;
}

header{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 600px){
    h1 {
        font-size: 12px;
    }

    header {
    flex-direction: column;
    }

    form {
    flex-direction: column;
    }

    .item-list {
    grid-template-columns: 1fr;
    }
}