.page {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";
    min-height: 100vh;
}

.page-header {
    border: 1px solid black;
    grid-area: header;}
.page-sidebar {
    border: 1px solid black;
    grid-area:sidebar;}
.page-main {
    border: 1px solid black;
    grid-area: main;}
.page-footer {
    border: 1px solid black;
    grid-area: footer;
}